set_hostname: ${hostname}

users:
  - name: ansible
    gecos: Ansible Administration User
    primary_group: Administrators
    passwd: ${ansible_password}
    ssh_authorized_keys:
      - ${ansible_sshkey}