#ps1

New-NetIPAddress -InterfaceIndex ${ id } `
                 -IPAddress ${ ip } `
                 -PrefixLength 24 %{ if gw != "" ~}`
                 -DefaultGateway ${ gw ~}
                 %{ endif ~}